modules_dir = "artifacts/"

[[module]]
    name = "crypto"
    mem_pages_count = 100
    logger_enabled = true

[[module]]
    name = "ipfsdag"
    mem_pages_count = 100
    logger_enabled = true

    [module.mounted_binaries]
    ipfs = "/usr/local/bin/ipfs"
    bash = "/bin/bash"
    curl = "/usr/bin/curl"

    [module.wasi]
    envs = { "/tmp/vault" = "tmp" }

[[module]]
    name = "sqlite3"

    [module.wasi]
    preopened_files = ["tmp"]
    mapped_dirs = { "tmp" = "./tmp" }

[[module]]
    name = "node"
    mem_pages_count = 100
    logger_enabled = true

    [module.wasi]
    preopened_files = ["tmp"]
    mapped_dirs = { "tmp" = "tmp" }

    [module.mounted_binaries]
    curl = "/usr/bin/curl"